.top-title{
    display: flex;
    width: 500;
    background-color: darkgray;
    align-items: center;
    justify-content: space-between;
    
    
}

.book-logo a{
text-decoration: none;
margin-left: 100px;
}


.demo-blocks{
padding-left: 100px;
}


.demo-blocks ul {
    list-style-type: none;
    display:flex ;
    gap: 20px;
}

.demo-blocks ul li a{
    text-decoration: none;
}

.buy-now{

}


.buy-now button{
    width: 90px;
    background-color: peru;
    color: white;
    border-color: peru;
    
}



